*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}
ul{
    list-style-type: none;
}
body{
    background: #FEFCF7;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.header__list{
    display: flex;
    gap: 33px;
    text-decoration: none ;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
}
.intro{
    margin-top: 30px;
    padding: 137px 85px ;
    background-image: url(./images/Bitmap\(4\).jpg);
    background-repeat: no-repeat;
    color: #FEFCF7;
    border-radius: 10px;
}
.intro__title{
    width: 493px;
    margin: 0;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
}
.intro__text{
    width: 405px;
    padding-top: 24px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    mix-blend-mode: normal;
    opacity: 0.8;
}
.work{
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 40px 84px 20px;
    color:#fff;
    background-color:#333D4B;
    border-radius: 10px;
}
.work__top{
    display: flex;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 57px;
    background-color:transparent;
}
.work__hr{
    width: 349px;
    height: 2px;
    border: 0;
    background-color: #FDD6BA;
}
.work__list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 68px;
}
.work__main{
    width: 200px;
    padding-top: 38px;
    padding-bottom: 42px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #fff;
}
.work__text{
    width: 285px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
}
.middle{
    display: flex;
}
.middle__left{
    padding-left: 84px;
    width: 30%;   
}
.middle__right{
    width: 70%;
    padding-left: 86px;
}
.middle__title{ 
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #83888F;
}
.middle__card{
    padding-top: 56px;
    padding-bottom: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 23px;
    color: #333D4B;
}
.card__item{
    padding: 32px 28px 84px;
    background: #F4F1EB;
    border-radius: 8px;
}
.card__title{
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
}
.card__text{
    padding-top: 24px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.card__item:nth-child(2){
    color:#fff;
    background: #0E8784;
}
.card__div{
    padding: 32px 28px 84px;
    background: #F4F1EB;
    border-radius: 8px;
}
.card__div:nth-child(1){
    color:#fff;
    background: #0E8784;
}
.card__li{
    padding: 32px 28px 84px;
    background: #F4F1EB;
    border-radius: 8px;
}
.card__li:nth-child(3){
    color:#fff;
    background: #0E8784;
}
.right__bottom{
    padding: 31px 64px 18px;
    margin-bottom: 50px;
    background-color:#333D4B;
}
.bottom__title{
    padding-bottom: 8px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}
.middle__btn{
    margin-left: 555px;
    padding-bottom: 168px;padding: 15px 35px;
    text-decoration: none;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    background: #0E8784;
    border-radius: 6px;
}
.middle__btn:active{
    background-color:#66D2CF ;
}
.footer{
    margin-top: 168px;
    padding: 40px 47px;
    display: flex;
    justify-content: space-between;
    color:#fff;
    background-color: #2C343E;
}
.footer__left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    gap:70px;
}
.footer__list{
    display: flex;
    align-items: center;
    gap:10px;
}
.footer__item{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
}
.footer__right{
    display: flex;
    gap:25px;
}